body {
    font-family: 'Roboto', sans-serif;
    line-height: 26px;
    text-align: justify;
    background-color: #F8FDF4;
    min-height: 98vh;
}

header {
    background-color: #1565C0;
    color: #ffffff !important;
}

footer {
    min-height: 2vh;
}

a {
    color: inherit;
}

.link:hover {
    color: #1565C0 !important;
    text-decoration: none !important;
}

.social i {
    padding-right: 20px;
}

.col-centered {
    margin: 0 auto;
}

.profile-intro {
    background-image: url("../images/tech-logos.png");
    position: relative;
    background-size: cover;
    z-index: 1;
    width: 100%;
    min-height: 400px;
    padding-top: 200px;

}

.profile-intro:before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .8);
}

.bullet {
    padding-left: 0;
}

.bullet li {
    list-style-type: none;
    padding-bottom: 8px;
}

.bullet li::before {
    content: "";
    border: 1px solid #E8AB1E;
    border-radius: 50%;
    padding: 0px 4px;
    margin: 8px;
    font-size: 6px;
    vertical-align: top;
    background: #E8AB1E;
    box-shadow: 0px 0px 0px 5px rgba(232, 225, 30, 0.6);
}

.sticky-top {
    margin-bottom: -18px;
    background-color: transparent;
    position: absolute;
}

.menu {
    position: fixed;
    z-index: 999;
    position: fixed;
    width: 100%;
    text-align: right;
    color: white;
}
.menu-link{
    color: white;
}

.profile {
    position: fixed;
    right: 10px;

}

.profile img {
    box-shadow: 0px 0px 0px 2px rgba(212, 212, 212, 0.6);
}

@media only screen and (max-width: 768px) {
    #tags {
        width: 100%;
        height: 200px;
    }
}

@media only screen and (min-width: 768px) {
    #tags {
        max-width: 765px;
        height: 200px;
    }
}

.btn-circle {
    border-radius: 50%;
}

.bg-white {
    background-color: #FFFFFF;
}

.text-white {
    color: #FFFFFF;
}

.bg-none {
    background: none !important;
}

#main-page-articles {
    display: flex;
    flex-flow: row wrap;
}

#main-page-articles .article {
    margin-bottom: 3rem;
    height: 380px;
    margin-top: 2rem;
    margin-right: 4%;
}

.card-img {
    height: 175px;
    width: 100%;
    padding: 0;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 0 rgba(0, 0, 0, 0.19);
     border-radius: 8px;
     margin-top: -42px;*/
}

/*.card-img:hover {
    opacity: 0.9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}*/

.card-img img {
    width: 100%;
    height: 100%;
}

.card {
    /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/

}

.card .card-header {
    line-height: 6px;
}

.card .card-footer {
    border: none;
}

.card-body .title {
    height: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.link {
    color: #3399dd !important;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline !important;
}

@media only screen and (max-width: 768px) {
    .col-4 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .col-4 {
        -ms-flex: 0 0 28%;
        flex: 0 0 28%;
        max-width: 28%;
    }
}

.about {
    letter-spacing: 1px;
    line-height: 2rem;
    padding-top: 12px;
    padding-bottom: 12px;
}

.article-img-title {
    height: 200px;
    width: 100%;
}

.article-img-title img {
    height: 200px;
    width: 100%;
}

.fb-like {
    position: fixed !important;
    left: 0;
    bottom: 10%;
}